.middle-reg{
    background-color: black;
    color: white;
  width: 450px;
  height: 300px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 0 0 120px #000000;
  border-radius: 25px;
}
.login-txt{
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
}
.middle-reg form{
    color: white;
 padding-top: 15px;
 text-align: center;
 font-family: sans-serif;
}
.middle-reg p{
    padding-top: 15px;
}
.middle-reg input{
    width: 65%;
}
.login-butt{
background-color: rgba(59, 72, 80, 0.719);
margin-bottom: 10px;
border-radius: 15px;
width: 70px;
border: solid 1px white
outline: none;
height: 40px;
margin-top: 10px;
font-size: 12px;
}
.login-butt:hover{
    background-color: white;
    transition: .5s;
}
.middle-reg input[type="text"]{
    margin-bottom: 20px;
    color: white;
}
.middle-reg input[type="text"], input[type="password"]{
padding-bottom: 10px;
border: none;
border-bottom: 1px solid white;
background: transparent;
outline: none;
height: 25px;
}
.middle-reg input[type="tel"]{
    margin-bottom: 20px;
    color: white;
    padding-bottom: 10px;
border: none;
border-bottom: 1px solid;
background: transparent;
outline: none;
height: 25px;
}